.bgrclr_blue {
    background-color: #C9F2FF;
}

.bgrclr_pink {
    background-color: #E5D5FF;
}

.bgrclr_blue2 {
    background-color: #D3FBFB;
}

.bgrclr_green {
    background-color: #10B981;
}

.bgrclr_purple {
    background-color: #845EC2;
    ;
}

.bgrclr_blue3 {
    background-color: #08BDBE;
    ;
}