.button {
    min-width: 263px;
    height: 70px;
    background: #10B981;
    border: none;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #FFF;
    box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
    cursor: pointer;
    font-family: Montserrat;
}