.bgrclr_blue {
    background-color: #C9F2FF;
}

.bgrclr_pink {
    background-color: #E5D5FF;
}

.bgrclr_blue2 {
    background-color: #D3FBFB;
}

.bgrclr_green {
    background-color: #10B981;
}

.bgrclr_purple {
    background-color: #845EC2;
}

.bgrclr_blue3 {
    background-color: #08BDBE;
}

.bgrclr_black {
    background-color: #111111;
}

.bgrclr_yellow {
    background-color: #FFF500;
}

.bgrclr_blue4 {
    background-color: #4484FF;
}

.textgreen {
    color: #10B981;
}